*~
*.o
/cpp/cpp
/cpp/cpp.host
/cpp/cpp.cross
/cpp/cpp.mini*
/cpp/cpp.m32
/cpp/cpp.m64
/sc/sc
/sc/sc.host
/sc/sc.cross
/sc/sc.mini*
/sc/sc.m32
/sc/sc.m64
/sc/sc.pts
/sc/sc.exe
/sc/bcc3-cc1
/sc/bcc3-cc1[a-z]
/sc/bcc-cc1
/sc/bcc-cc1[a-z]
/sc/*.s
/ld/ld
/ld/ld.host
/ld/ld.cross
/ld/ld.mini*
/ld/ld.m32
/ld/ld.m64
/ld/ld.pts
/ld/ld.exe
/ar/ar
/ar/ar.host
/ar/ar.cross
/ar/ar.mini*
/ar/ar.m32
/ar/ar.m64
/ar/ar.pts
/ar/ar.exe
/as/as
/as/as.host
/as/as.cross
/as/as.mini*
/as/as.m32
/as/as.m64
/as/as.pts
/as/as.exe
